In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import urllib.request
import math
import time
from pandas import DataFrame, Series
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime

In [2]:
jobs={"roles":[],
     "companies":[],
     "locations":[],
     "experience":[],
     "skills":[],
     "Dates":[],
     "PresentDate":[],
     "salary":[],}

In [3]:
MAX_PAGE_NUM = 50
MAX_PAGE_DIG = 3
driver=webdriver.Chrome('C:\Program Files (x86)\chromedriver.exe')

In [4]:
for i in range(1, MAX_PAGE_NUM+1):
    page_num = (MAX_PAGE_DIG - len(str(i))) * "0" + str(i)
    url="https://www.naukri.com/data-scientist-jobs-"+page_num+"?k=data%20scientist"
    driver.get(url)
    time.sleep(3)
    lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
    
    for job in lst:
        driver.implicitly_wait(10)
        try:
            role=job.find_element_by_css_selector("a.title.fw500.ellipsis").text
            company=job.find_element_by_css_selector("a.subTitle.ellipsis.fleft").text
            location=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.location").text
            salaries=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.salary").text
            exp=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.experience").text
            date=job.find_element_by_css_selector(".type.br2.fleft.grey").text
            skills=job.find_element_by_css_selector(".tags.has-description").text 
        except NoSuchElementException:
             pass
        today=datetime.datetime.today().strftime('%Y-%m-%d')
        jobs["roles"].append(role)
        jobs["companies"].append(company)
        jobs["locations"].append(location)
        jobs["experience"].append(exp)
        jobs["salary"].append(salaries)
        jobs["Dates"].append(date)
        jobs["PresentDate"].append(today)
        jobs["skills"].append(skills)

In [5]:
df1=pd.DataFrame(jobs)
df1

,roles,companies,locations,experience,skills,Dates,PresentDate,salary
0,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs,Business Intelligence\nArtificial Intelligence...,5 DAYS AGO,2020-11-01,"3,50,000 - 4,50,000 PA."
1,Data Scientist - Machine Learning/APICS,CarbyneTech India,Hyderabad,3-8 Yrs,Data Science\nR\nNLP\nArtificial Intelligence\...,4 DAYS AGO,2020-11-01,Not disclosed
2,Data Scientist - Machine Learning/ Python,CarbyneTech India,Hyderabad,3-8 Yrs,Predictive Modeling\nR\nData Scientist\nData M...,4 DAYS AGO,2020-11-01,Not disclosed
3,Senior Data Scientist,Flipkart Internet Private Limited,Bengaluru,2-7 Yrs,Pytorch\nTensorflow\nData Science\nNLP\nAlgori...,4 DAYS AGO,2020-11-01,Not disclosed
4,Data Scientist - Machine Learning/Statistical ...,Lericon Informatics Pvt. Ltd.,Delhi/NCR Delhi NCR,5-8 Yrs,Data Science\nAzure\nData Scientist\nData Arch...,4 DAYS AGO,2020-11-01,Not disclosed
...,...,...,...,...,...,...,...,...
995,Senior Data Analyst,sRide Carpool,Pune,3-8 Yrs,Data analysis\nProduct engineering\nHTML\nData...,30+ DAYS AGO,2020-11-01,Not disclosed
996,Data Analyst-Machine Learning Developer/Lead,Prowesstics IT services,Chennai,3-8 Yrs,IT Skills\nMachine Learning\nBig Data\nIT serv...,11 DAYS AGO,2020-11-01,Not disclosed
997,Technical BA – DATA Analytics,CONDUENT BUSINESS SERVICES INDIA LLP,Bengaluru(Whitefield),6-10 Yrs,Azure\nBusiness Analytics\nPower Bi\nIT Skills...,11 DAYS AGO,2020-11-01,"10,00,000 - 14,00,000 PA."
998,Senior Data Analyst,Snaphunt,Bengaluru,4-9 Yrs,Knowledge Sharing\nData Manipulation\nComputer...,30+ DAYS AGO,2020-11-01,Not disclosed
999,Sr . Data Analyst,Larsen & Toubro Infotech Limited,IN,5-10 Yrs,Knowledge Sharing\nData Manipulation\nComputer...,30+ DAYS AGO,2020-11-01,Not disclosed

In [35]:
df1.to_csv("naukriscrapdata.csv")

In [6]:
df1.columns

Index(['roles', 'companies', 'locations', 'experience', 'skills', 'Dates',
       'PresentDate', 'salary'],
      dtype='object')